<div class="row item">
    <ol class="breadcrumb">
        <li>个人信息</li>
        <li>&gt;</li>
        <li class="active">修改密码</li>
    </ol>
</div>

<div class="row item">

    <div class="row mt-50 info-item">
        <span class="col-sm-2 info-label">账号:</span>
        <span class="col-sm-10 info-val">fsfsdfsd</span></div>
    <div class="row info-item">
        <span class="col-sm-2 info-label">所属角色:</span>
        <ul class="col-sm-10 role-info info-val">
            <li>运营总监<a>查看角色权限</a></li>
            <li>市场总监<a>查看角色权限</a></li>
            <li>市场总监<a>查看角色权限</a></li>
        </ul>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input">姓名:</span>
        <div class="col-sm-10 info-val">
            <input type="text" value="fsdfsfsd">
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input">联系方式:</span>
        <div class="col-sm-10 info-val">
            <input type="text" value="fsdfsfsd">
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input">邮箱:</span>
        <div class="col-sm-10 info-val">
            <input type="text" value="fsdfsfsd">
            <span class="hint">注:管理员帮您<span class="orange">找回密码</span>的重要途径</span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input">公司职位:</span>
        <div class="col-sm-10 info-val">
            <input type="text" disabled value="fsdfsfsd">
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input"></span>
        <div class="col-sm-10 info-val">
            <button type="button" class="btn btn-default btn-lg btn-save">保存</button>
        </div>
    </div>
</div>