<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>个人信息</li>
        <li>&gt;</li>
        <li class="active">修改密码</li>
    </ol>
</div>

<div class="row item-margin">
    <form class="form-horizontal" (ngSubmit)="changePwd()" #addUserForm="ngForm">
    <div class="row mt-50 info-item">
        <label class="col-sm-2 info-label-input" for="oldPwdInput">旧密码:</label>
        <div class="col-sm-10 info-val">
            <input type="text" class="form-control" id="oldPwdInput" name="oldPwd" [(ngModel)]="user.oldPassword" #oldPwd="ngModel" required>
        </div>
    </div>
    <div class="row info-item">
        <label class="col-sm-2 info-label-input" for="newPwdInput">新密码:</label>
        <div class="col-sm-10 info-val">
            <input type="text" class="form-control" id="newPwdInput" name="newPwd" [(ngModel)]="user.newPassword" #newPwd="ngModel" required>
            <span class="err-info fs-14">错误提示!</span>
        </div>
    </div>
    <div class="row mt-10 info-item">
        <label class="col-sm-2 info-label-input" for="comfirmPwdInput">确认新密码:</label>
        <div class="col-sm-10 info-val">
            <input type="text" class="form-control" id="comfirmPwdInput" name="comfirmPwd" [(ngModel)]="comfirmPassword" #comfirmPwd="ngModel" required>
            <span class="hint fs-14"><span class="orange">*</span>密码长度<span class="orange">必须为6-20位字符</span>，由数字、字母组成，区分大小写</span>
        </div>
    </div>
    <div class="row info-item">
        <label class="col-sm-2 info-label-input"></label>
        <div class="col-sm-10 info-val">
            <button type="submit" class="btn btn-default btn-lg btn-save">保存</button>
        </div>
    </div>
    </form>
</div>