<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li>我的待办</li>
        <li>&gt;</li>
        <li class="active">待办详情</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId"></process-tab>


<div class="item-margin distribution-box">

    <div class="table-title">当前业务</div>

    <div class="row mt-50 info-item">
        <span class="col-sm-4 info-label-input">选择你要分配的线上交易员:</span>
        <div class="col-sm-8 info-val">
            <select class="form-control" [(ngModel)]="selectedUser" >
                <option *ngFor="let user of userList" [ngValue]="user">{{user.username}} - {{user.email}}</option>
            </select>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-4 info-label">线上交易员姓名:</span>
        <div class="col-sm-8 info-val">
            <span>{{selectedUser.name}}</span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-4 info-label">联系方式:</span>
        <div class="col-sm-8 info-val">
            <span>{{selectedUser.phone}}</span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-4 info-label">角色名称:</span>
        <div class="col-sm-8 info-val">
            <span *ngFor="let group of selectedUser.groupList">{{group.name}} <br/></span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-4 info-label">所属部门:</span>
        <div class="col-sm-8 info-val">
            <span>{{selectedUser.department}}</span>
        </div>
    </div>
    <div class="row info-item">
        <div class="col-sm-offset-2 col-sm-8 info-val no-bottom-border">
            <button type="button" class="btn btn-default btn-lg btn-sure" (click)="assignPerson()" >分配</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['tasks/pending']">返回</button>
        </div>

        <div class="col-sm-offset-2 col-sm-6">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">保存失败!</div>
        </div>
    </div>

</div>