<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li *ngIf="!css.isReadOnly" class="active">我的待办</li>
        <li *ngIf="css.isReadOnly" class="active">我的审核</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>



<div class="item-margin apply-box">

    <div class="table-title">当前业务</div>

    <div class="apply-title">业务审批
        <div>
            <a [routerLink]="['/tasks', currentTask.id, 'trader', 'info']">查看申请材料</a>
        </div>
    </div>

    <table class="table table-bordered apply-table">
        <tr class="item-max">
            <td class="td-label">业务类型:</td>
            <td width="250" class="td-val">{{currentTask.applyTypeName}}</td>
            <td class="td-label">业务编号:</td>
            <td width="250" class="td-val">{{currentTask.sourceId}}</td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span>上下游相关签约单位信息补充:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" [readonly]="css.isReadOnly" [(ngModel)]="currentOrder.contractCompaniesInfoSupply"></textarea>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span>业务操作模式介绍:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" [readonly]="css.isReadOnly" [(ngModel)]="currentOrder.businessModelIntroduce"></textarea>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span>物流/仓储地信息补充:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" [readonly]="css.isReadOnly" [(ngModel)]="currentOrder.logisticsStorageInfoSupply"></textarea>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span>其他补充说明:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" [readonly]="css.isReadOnly" [(ngModel)]="currentOrder.otherInfoSupply"></textarea>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4">
                <span>
                    <label (click)="changeNeedSupplyMaterialStatus()">
                    <input type="checkbox" class="mr-10" [readonly]="css.isReadOnly" [checked]="currentOrder.needSupplyMaterial===1">需要补充材料</label>
                </span>
            </td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" [readonly]="css.isReadOnly" [(ngModel)]="currentOrder.supplyMaterialIntroduce"></textarea>
            </td>
        </tr>


        <tr class="item-title" *ngIf="!css.isReadOnly">
            <td colspan="4">
                <span>审核意见:</span>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="1">通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="0">不通过</label>
            </td>
        </tr>
        <tr class="item-title" *ngIf="css.isReadOnly">
            <td colspan="4">
                <span>审核意见:</span>
                <span>{{currentTask.approveState}}</span>
            </td>
        </tr>
    </table>

    <div class="row info-item" *ngIf="!css.isReadOnly">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-save" (click)="audit(false)" [disabled]="css.isSubmitted || currentTask.endTime">保存</button>
            <button type="button" class="btn btn-default btn-lg btn-sure ml-20"  (click)="audit(true)" [disabled]="css.isSubmitted || currentTask.endTime || isApprovedRadio===-1">保存并提交</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['/tasks/pending']">返回</button>
        </div>
    </div>
    <div class="row info-item" *ngIf="css.isReadOnly">
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['/tasks/all']">返回</button>
        </div>
    </div>

</div>


