<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li *ngIf="!css.isReadOnly" class="active">我的待办</li>
        <li *ngIf="css.isReadOnly" class="active">我的审核</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>

<div class="item-margin apply-box">

    <div class="table-title">融资申请</div>

    <div class="apply-title">需求提报</div>

    <table class="table table-bordered apply-table">
        <tr class="item-max">
            <td class="td-label">融资类型:</td>
            <td class="td-val finance-types" colspan="3">
                <div class="finance-type" [class.selected]="currentOrder.applyType==='MYR'">
                    <div><label><input type="radio" disabled [checked]="currentOrder.applyType==='MYR'" >煤易融</label></div>
                    <div class="introduce">我有煤，可发运至终端形成应收账款，需要实现资金的快速回流</div>
                </div>
                <div class="finance-type" [class.selected]="currentOrder.applyType==='MYD'">
                    <div><label><input type="radio" disabled [checked]="currentOrder.applyType==='MYD'">煤易贷</label></div>
                    <div class="introduce">我有煤，可质押,想要实现快速融资</div>
                </div>
                <div class="finance-type" [class.selected]="currentOrder.applyType==='MYG'">
                    <div><label><input type="radio" disabled [checked]="currentOrder.applyType==='MYG'">煤易购</label></div>
                    <div class="introduce">我有采购订单，需要申请垫资采购，从而突破自身资金瓶颈</div>
                </div>
            </td>
        </tr>

        <tr class="item-min">
            <td class="td-label">拟融资金额(万元):</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.financingAmount" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.financingAmount||'--'}}</span>
            </td>
            <td class="td-label">拟使用资金时间(天):</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.expectDate" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.expectDate||'--'}}</span>
            </td>
        </tr>

        <tr class="item-min">
            <td class="td-label">预期此笔业务量(万吨):</td>
            <td class="td-val">
                <input *ngIf="!css.isReadOnly" type="text" [(ngModel)]="currentOrder.businessAmount" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.businessAmount||'--'}}</span>
            </td>
            <td colspan="2" *ngIf="currentOrder.applyType==='MYD'"></td>

            <td class="td-label" *ngIf="currentOrder.applyType==='MYR'||currentOrder.applyType==='MYG'">运输方式:</td>
            <td class="td-val" *ngIf="currentOrder.applyType==='MYR'||currentOrder.applyType==='MYG'">
                <select *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.transportMode">
                    <option value="null">请选择</option>
                    <option value="汽运">汽运</option>
                    <option value="海运">海运</option>
                    <option value="火运">火运</option>
                    <option value="其它">其它</option>
                </select>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.transportMode||'--'}}</span>
            </td>
        </tr>

        <!--煤易融-->

        <tr *ngIf="currentOrder.applyType==='MYR'" class="item-min">
            <td class="td-label">预计单吨销售价(元/吨):</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.sellingPrice" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.sellingPrice||'--'}}</span>
            </td>
            <td class="td-label">我方签约单位全称:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.ourContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.ourContractCompany||'--'}}</span>
            </td>
        </tr>

        <tr *ngIf="currentOrder.applyType==='MYR'" class="item-min">
            <td class="td-label">下游签约单位全称:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.downstreamContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.downstreamContractCompany||'--'}}</span>
            </td>
            <td class="td-label">用煤终端:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.terminalServer" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.terminalServer||'--'}}</span>
            </td>
        </tr>


        <!--煤易贷-->
        <tr *ngIf="currentOrder.applyType==='MYD'" class="item-min">
            <td class="td-label">煤炭仓储地:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.storageLocation" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.storageLocation||'--'}}</span>
            </td>
            <td class="td-label">煤炭来源:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.coalSource" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.coalSource||'--'}}</span>
            </td>
        </tr>

        <tr *ngIf="currentOrder.applyType==='MYD'" class="item-min">
            <td class="td-label">单吨市场报价(元/吨):</td>
            <td class="td-val">
                <input type="text"  *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.marketPrice" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.marketPrice||'--'}}</span>
            </td>
            <td class="td-label">主要煤质指标:</td>
            <td class="td-val">
                <input type="text"  *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.coalQuantityIndex" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.coalQuantityIndex||'--'}}</span>
            </td>
        </tr>

        <!--煤易购-->

        <tr *ngIf="currentOrder.applyType==='MYG'" class="item-min">
            <td class="td-label">单吨采购价(元/吨):</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.procurementPrice" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.procurementPrice||'--'}}</span>
            </td>
            <td class="td-label">上游资源方全称:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.upstreamResource" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.upstreamResource||'--'}}</span>
            </td>
        </tr>

        <tr *ngIf="currentOrder.applyType==='MYG'" class="item-min">
            <td class="td-label">中转港口全称:</td>
            <td colspan="3" class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.transferPort" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.transferPort||'--'}}</span>
            </td>
        </tr>

        <!--煤易购 结束-->


        <tr class="item-max">
            <td class="td-label">上传单据:</td>
            <td class="td-val finance-type" colspan="3">
                <div class="hint mb-20">如: 下游签约单位合同模板、历史供煤信息，终端结算回款历史单据、自身企业信用、财务状况</div>
                <div class="attachment">
                    <div class="attachment-list" *ngFor="let pic of currentOrder.attachmentList1">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic)" *ngIf="!css.isReadOnly"></span>
                        <a [href]="'/finance/admin/files?url=' + pic.url" target="_blank">{{pic.name}}</a>
                    </div>

                    <file-upload *ngIf="!css.isReadOnly" (onFinished)="finishedUpload($event)"></file-upload>
                </div>

            </td>
        </tr>

        <tr class="item-min">
            <td class="td-label">备注说明:</td>
            <td class="td-val td-textarea" colspan="3">
                <textarea class="form-control" rows="4" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.comments" placeholder="请输入"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.comments||'无'}}</span>
            </td>
        </tr>

        <tr *ngIf="!css.isReadOnly" class="item-title risk-line">
            <td class="td-label"><span>选择风控线:</span></td>
            <td colspan="3">
                <custom-select  [optionList]="riskLines" [(ngModel)]="riskSelectedItem" [ngModelOptions]="{standalone: true}"></custom-select>
            </td>
        </tr>

        <tr *ngIf="!css.isReadOnly" class="item-title">
            <td class="td-label"><span>审核意见:</span></td>
            <td colspan="3">
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" required [value]="1">审核通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" required [value]="0">审核不通过(融资类型错误)</label>
            </td>
        </tr>

        <tr class="item-title" *ngIf="css.isReadOnly">
            <td colspan="4">
                <span>审核意见: {{currentOrder.approveState}}</span>
            </td>
        </tr>
    </table>

    <div class="row info-item"  *ngIf="!css.isReadOnly">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="submit" class="btn btn-default btn-lg btn-save mr-20" (click)="audit(false)" [disabled]="css.isSubmitted || currentTask.endTime">保存</button>
            <button type="submit" class="btn btn-default btn-lg btn-sure mr-20" (click)="audit(true)" [disabled]="css.isSubmitted || currentTask.endTime || isApprovedRadio===-1">保存并提交</button>
            <button type="button" class="btn btn-default btn-lg btn-return" (click)="goBack()">返回</button>
        </div>
    </div>
    <div class="row info-item" *ngIf="css.isReadOnly">
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-return" (click)="goBack()">返回</button>
        </div>
    </div>
</div>


