<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li class="active">我的待办(8)</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>

<div class="item-margin apply-box">

    <div class="table-title">融资申请</div>

    <div class="apply-title">
        <span>监管报告</span>
        <div>
            <a [routerLink]="['/tasks', currentTask.id, 'trader', 'info']">查看申请材料</a>
            <span class="line"></span>
            <a [routerLink]="['/tasks', currentTask.id, 'salesman', 'info']">查看审批业务</a>
        </div>
    </div>

    <table class="table table-bordered apply-table">
        <tr class="item-max">
            <td class="td-label">业务类型:</td>
            <td width="250" class="td-val" *ngIf="currentTask.applyType==='MYD'">煤易贷</td>
            <td width="250" class="td-val" *ngIf="currentTask.applyType==='MYR'">煤易融</td>
            <td width="250" class="td-val" *ngIf="currentTask.applyType==='MYG'">煤易购</td>
            <td class="td-label">业务编号:</td>
            <td width="250" class="td-val">{{currentTask.sourceId}}</td>


        </tr>
        <tr class="item-max">
            <td class="td-label">煤炭仓储地:</td>
            <td width="250" class="td-val">{{currentOrder.storageLocation || '--'}}</td>
            <td class="td-label">仓库性质:</td>
            <td class="td-val">
                <input type="text" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentTask.storageProperty">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.storageProperty}}</span>
                <!--{{currentTask.storageProperty || '&#45;&#45;'}}-->
            </td>
        </tr>
        <tr class="item-max">

            <td class="td-label">仓库地址:</td>
            <td class="td-val" colspan="3">
                <input type="text" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentTask.storageAddress">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.storageAddress}}</span>
                <!--{{currentTask.storageAddress || '&#45;&#45;'}}-->
            </td>
        </tr>

        <tr class="item-title">
            <td colspan="4"><span class="fs-16">我方与港口的历史合作状况</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.historicalCooperationDetail">-->
                <textarea class="form-control" rows="2" placeholder="请输入"  *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.historicalCooperationDetail"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.historicalCooperationDetail}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">经营及堆存状况</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.operatingStorageDetail">-->
                <textarea class="form-control" rows="2" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.operatingStorageDetail"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.operatingStorageDetail}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">保管及进出库流程规范程度</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.portStandardDegree">-->
                <textarea class="form-control" rows="2" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.portStandardDegree"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.portStandardDegree}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">监管配合状况</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.supervisionCooperateDetail">-->
                <textarea class="form-control" rows="2" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.supervisionCooperateDetail"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.supervisionCooperateDetail}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">监管方案</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.supervisionScheme">-->
                <textarea class="form-control" rows="2" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.supervisionScheme"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.supervisionScheme}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">结论</span></td>
        </tr>
        <tr class="item-min">
            <!--<td class="td-label">详细描述:</td>-->
            <td colspan="4" class="td-val td-textarea">
                <!--<input type="text" [(ngModel)]="currentTask.finalConclusion">-->
                <textarea class="form-control" rows="2" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.finalConclusion"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.finalConclusion}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">附件上传<span class="fs-14 hint">(详细的风控报告和相关单据材料等,<span class="orange">5M之内</span>)</span></span></td>
        </tr>
        <tr class="item-max">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <a *ngFor="let pic of currentOrder.attachmentList1" [href]="pic.url" [alt]="pic.name">{{pic.name}}.{{pic.type}}</a>
                </div>

                <file-upload *ngIf="!css.isReadOnly" (onFinished)="finishedUpload($event)"></file-upload>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">是否需要补充材料的说明:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="4" *ngIf="!css.isReadOnly" placeholder="请输入" [(ngModel)]="currentOrder.supplyMaterialIntroduce"></textarea>
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.supplyMaterialIntroduce}}</span>
            </td>
        </tr>

        <tr class="item-title" *ngIf="currentOrder.attachmentList2">
            <td colspan="4"><span>业务员补充材料:</span></td>
        </tr>
        <tr class="item-max" *ngIf="currentOrder.attachmentList2">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <a *ngFor="let pic of currentOrder.attachmentList2" [href]="pic.url" [alt]="pic.name">{{pic.name}}.{{pic.type}}</a>
                </div>
            </td>
        </tr>

        <tr class="item-title" *ngIf="!css.isReadOnly">
            <td colspan="4">
                <span>审核意见:</span>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="1">通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="0">不通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="2">让业务员补充材料</label>
            </td>
        </tr>
    </table>

    <div class="row info-item" *ngIf="!css.isReadOnly">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-save" (click)="audit(false)" [disabled]="css.isSubmitted">保存</button>
            <button type="button" class="btn btn-default btn-lg btn-sure ml-20" (click)="audit(true)" [disabled]="css.isSubmitted || css.isCommitted">保存并提交</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['/tasks/pending']">返回</button>
        </div>
    </div>
    <div class="row info-item" *ngIf="css.isReadOnly">
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['/tasks/all']">返回</button>
        </div>
    </div>

</div>