<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li *ngIf="!css.isReadOnly" class="active">我的待办</li>
        <li *ngIf="css.isReadOnly" class="active">我的审核</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>

<div class="item-margin apply-box">

    <div class="table-title">融资申请</div>

    <div class="apply-title">
        <span>风控报告</span>
        <div>
            <a [routerLink]="['/tasks', currentTask.id, 'trader', 'info']">查看申请材料</a>
            <span class="line"></span>
            <a [routerLink]="['/tasks', currentTask.id, 'salesman', 'info']">查看业务审批</a>
            <span class="line"></span>
            <a [routerLink]="['/tasks', currentTask.id, 'investigator', 'info']">查看尽调报告</a>
            <span class="line" *ngIf="currentTask.applyType!=='MYR'"></span>
            <a *ngIf="currentTask.applyType!=='MYR'" [routerLink]="['/tasks', currentTask.id, 'supervisor', 'info']">查看监管报告</a>
        </div>
    </div>

    <table class="table table-bordered apply-table">
        <tr class="item-max">
            <td class="td-label">业务类型:</td>
            <td width="250" class="td-val">{{currentTask.applyTypeName}}</td>
            <td class="td-label">业务编号:</td>
            <td width="250" class="td-val">{{currentTask.sourceId}}</td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">分销能力评估(仓押及订单)/预计回款状况(应收账款)</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.distributionAbilityEval"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.distributionAbilityEval||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">业务操作风险点</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.businessRiskPoint"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.businessRiskPoint||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">风控方案</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.riskControlScheme"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.riskControlScheme||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">风控结论</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.finalConclusion"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.finalConclusion||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">附件上传<span class="fs-14 hint">(详细的风控报告和相关单据材料等,<span class="orange">5M之内</span>)</span></span></td>
        </tr>
        <tr class="item-max">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <div class="attachment-list" *ngFor="let pic of currentOrder.attachmentList1">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic)" *ngIf="!css.isReadOnly"></span>
                        <a [href]="'/finance/admin/files?url=' + pic.url" target="_blank">{{pic.name}}</a>
                    </div>

                    <file-upload *ngIf="!css.isReadOnly" (onFinished)="finishedUpload($event)"></file-upload>
                </div>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">是否需要补充材料的说明:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" placeholder="请输入您要求用户/业务人员需要补充的材料及说明" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.supplyMaterialIntroduce"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.supplyMaterialIntroduce||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title" *ngIf="currentOrder.needSupplyMaterial==1">
            <td colspan="4"><span>业务员补充材料:<span *ngIf="currentOrder.attachmentList2.length < 1">无</span></span></td>
        </tr>
        <tr class="item-max" *ngIf="currentOrder.needSupplyMaterial==1&&currentOrder.attachmentList2.length >0">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <div class="attachment-list" *ngFor="let pic of currentOrder.attachmentList2">
                        <!--<span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic, true)" *ngIf="!css.isReadOnly" ></span>-->
                        <a [href]="'/finance/admin/files?url=' + pic.url" target="_blank">{{pic.name}}</a>
                    </div>
                </div>
            </td>
        </tr>
        <!--<tr class="item-title">-->
            <!--<td colspan="4"><label><input type="checkbox">发送给业务人员</label><label><input type="checkbox">发送给用户</label></td>-->
        <!--</tr>-->
        <tr class="item-title" *ngIf="!css.isReadOnly">
            <td colspan="4">
                <span>审核意见:</span>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="1">通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="0">不通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="2">让业务员补充材料</label>
            </td>
        </tr>
        <tr class="item-title" *ngIf="css.isReadOnly">
            <td colspan="4">
                <span>审核意见: {{currentOrder.approveState}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">合同信息（编辑合同前、后都可以预览合同，您可以根据新窗口打开的合同继续编辑）</span></td>
        </tr>
        <tr class="item-title">
            <td colspan="4">
                <div><span class="word_icon"></span>《仓押上游采购合同》<span class="word_line"></span>
                    <a class="a-padding" (click)="previewContract()">预览</a>
                    <a class="a-padding a-line" (click)="editUp()">编辑</a>
                    <a class="a-padding">+&nbsp;添加附件</a></div>
                <div>
                    <ul class="enclosure">
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                        <li>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"  *ngIf="!css.isReadOnly"></span>
                            <a [href]="'/finance/admin/files?url='" target="_blank">aaaaa.png</a>
                        </li>
                    </ul>
                </div>
                <div><span class="word_icon"></span>《仓押下游采购合同》<span class="word_line"></span>
                    <a class="a-padding" (click)="previewContract()">预览</a>
                    <a class="a-padding a-line" (click)="editDown()">编辑</a>
                    <a class="a-padding">+&nbsp;添加附件</a></div>
                <ul class="enclosure">
                    <li>aaaa.jpg</li>
                    <li>aaaa.jpg</li>
                    <li>aaaa.jpg</li>
                </ul>
            </td>
        </tr>
        <tr class="item-title" *ngIf="!css.isReadOnly">
            <td colspan="4">
                <span>选择资金方:</span>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="1">通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="0">不通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="2">让业务员补充材料</label>
            </td>
        </tr>
    </table>

    <div class="row info-item" *ngIf="!css.isReadOnly">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-save" (click)="audit(false)" [disabled]="css.isSubmitted || currentTask.endTime">保存</button>
            <button type="button" class="btn btn-default btn-lg btn-sure ml-20" (click)="audit(true)" [disabled]="css.isSubmitted || currentTask.endTime || isApprovedRadio===-1">保存并提交</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" (click)="goBack()">返回</button>
        </div>
    </div>
    <div class="row info-item" *ngIf="css.isReadOnly">
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" (click)="goBack()">返回</button>
        </div>
    </div>

</div>