<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li *ngIf="!css.isReadOnly" class="active">我的待办</li>
        <li *ngIf="css.isReadOnly" class="active">我的审核</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>

<div class="item-margin apply-box">

    <div class="table-title">融资申请</div>

    <div class="apply-title">
        <span *ngIf="currentTask.applyType==='MYR'">尽调报告(应收)</span>
        <span *ngIf="currentTask.applyType=='MYD'||currentTask.applyType==='MYG'">尽调报告(订单、仓押)</span>
        <div>
            <a [routerLink]="['/tasks', currentTask.id, 'trader', 'info']">查看申请材料</a>
            <span class="line"></span>
            <a [routerLink]="['/tasks', currentTask.id, 'salesman', 'info']">查看业务审批</a>
        </div>
    </div>

    <table class="table table-bordered apply-table">
        <tr class="item-max">
            <td class="td-label">业务类型:</td>
            <td width="250" class="td-val">{{currentTask.applyTypeName||'--'}}</td>
            <td class="td-label">业务编号:</td>
            <td width="250" class="td-val">{{currentTask.sourceId||'--'}}</td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">项目主体信息</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-label">融资方:</td>
            <td class="td-val">{{currentOrder.applyCompanyName||'--'}}</td>
            <td class="td-label">我方签约单位全称:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.ourContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.ourContractCompany||'--'}}</span>
            </td>
        </tr>
        <!--应收字段-->
        <tr *ngIf="currentTask.applyType==='MYR'" class="item-min">
            <td class="td-label">下游签约单位:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.downstreamContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.downstreamContractCompany||'--'}}</span>
            </td>
            <td class="td-label">终端用户:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.terminalServer" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.terminalServer||'--'}}</span>
            </td>
        </tr>
        <tr class="item-min">
            <td class="td-label">融资金额(万元):</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.financingAmount" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.financingAmount||'--'}}</span>
            </td>
            <td class="td-label">融资期限:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.financingPeriod" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.financingPeriod||'--'}}</span>
            </td>
        </tr>
        <tr class="item-min">
            <td class="td-label">利率:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.interestRate" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.interestRate||'--'}}</span>
            </td>
            <td class="td-label">业务开展时间:</td>
            <td class="td-val">
                <my-date-picker *ngIf="!css.isReadOnly" [options]="myDatePickerOptions" [selDate]="selectedDateInline" (dateChanged)="onDateChanged($event)"></my-date-picker>
                <!--<input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.businessStartTime" placeholder="请输入">-->
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.businessStartTime||'--'}}</span>
            </td>
        </tr>
        <!--仓押字段-->
        <tr *ngIf="currentTask.applyType!=='MYR'" class="item-min">
            <td class="td-label">上游签约单位:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.upstreamContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.upstreamContractCompany||'--'}}</span>
            </td>
            <td class="td-label">下游签约单位:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.downstreamContractCompany" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.downstreamContractCompany||'--'}}</span>
            </td>
        </tr>
        <tr *ngIf="currentTask.applyType!=='MYR'" class="item-min">
            <td class="td-label">运输方:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.transportParty" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.transportParty||'--'}}</span>
            </td>
            <td class="td-label">中转港口全称:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.transitPort" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.transitPort||'--'}}</span>
            </td>
        </tr>
        <tr *ngIf="currentTask.applyType!=='MYR'" class="item-min">
            <td class="td-label">质量检验单位:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.qualityInspectionUnit" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.qualityInspectionUnit||'--'}}</span>
            </td>
            <td class="td-label">数量检验单位:</td>
            <td class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.quantityInspectionUnit" placeholder="请输入">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.quantityInspectionUnit||'--'}}</span>
            </td>
        </tr>

        <tr class="item-min">
            <td class="td-label">历史合作情况:</td>
            <td colspan="3" class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" class="describe" [(ngModel)]="currentOrder.historicalCooperationDetail" placeholder="包含第几次合作,往期合作业务量,目前占压资金额,往期账期、有无违约等状况描述">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.historicalCooperationDetail||'--'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">贸易链及描述</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-label">业务主要信息:</td>
            <td colspan="3" class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.mainBusinessInfo" placeholder="单价、煤种、总吨位、运输交货方式、回款周期、履约地">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.mainBusinessInfo||'--'}}</span>
            </td>
        </tr>
        <tr class="item-min">
            <td class="td-label">货物流转:</td>
            <td colspan="3" class="td-val">
                <input type="text" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.businessTransferInfo" placeholder="物流资金等流转信息">
                <span class="span-read" *ngIf="css.isReadOnly">{{currentOrder.businessTransferInfo||'--'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">业务风险点<span class="fs-14 hint">(结合具体操作细节,对业务操作中的<span class="orange">可能风险点总结和提示</span>)</span></span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="2" *ngIf="!css.isReadOnly" placeholder="请输入"  [(ngModel)]="currentOrder.businessRiskPoint"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.businessRiskPoint||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">履约信用及能力评估<span class="fs-14 hint">(结合相关签约主体的企业资信和实际煤炭贸易操作能力,对上下游相关方的<span class="orange">履约信用和能力描述和评估</span>)</span></span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="2" *ngIf="!css.isReadOnly" placeholder="请输入" [(ngModel)]="currentOrder.performanceCreditAbilityEval"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.performanceCreditAbilityEval||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">综合意见<span class="fs-14 hint">(关于这单业务的最终综合意见和提示)</span></span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="2" *ngIf="!css.isReadOnly" placeholder="请输入" [(ngModel)]="currentOrder.finalConclusion"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.finalConclusion||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span class="fs-16">附件上传<span class="fs-14 hint">(详细的风控报告和相关单据材料等,<span class="orange">5M之内</span>)</span></span></td>
        </tr>
        <tr class="item-max">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <div class="attachment-list" *ngFor="let pic of currentOrder.attachmentList1">
                        <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic)" *ngIf="!css.isReadOnly"></span>
                        <a [href]="'/finance/admin/files?url=' + pic.url" target="_blank">{{pic.name}}</a>
                    </div>
                    <file-upload *ngIf="!css.isReadOnly" [btnText]="btnText" (onFinished)="finishedUpload($event)"></file-upload>
                </div>
            </td>
        </tr>
        <tr class="item-title">
            <td colspan="4"><span>是否需要补充材料的说明:</span></td>
        </tr>
        <tr class="item-min">
            <td class="td-val td-textarea" colspan="4">
                <textarea class="form-control" rows="3" *ngIf="!css.isReadOnly" [(ngModel)]="currentOrder.supplyMaterialIntroduce" placeholder="请输入您要求用户/业务人员需要补充的材料及说明"></textarea>
                <span class="span-read span-textarea" *ngIf="css.isReadOnly">{{currentOrder.supplyMaterialIntroduce||'无'}}</span>
            </td>
        </tr>
        <tr class="item-title" *ngIf="currentOrder.needSupplyMaterial==1">
            <td colspan="4"><span>业务员补充材料:<span *ngIf="currentOrder.attachmentList2.length < 1">无</span></span></td>
        </tr>
        <tr class="item-max" *ngIf="currentOrder.needSupplyMaterial==1&&currentOrder.attachmentList2.length >0">
            <td class="td-val" colspan="4">
                <div class="attachment">
                    <div class="attachment-list" *ngFor="let pic of currentOrder.attachmentList2">
                        <!--<span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic, true)" *ngIf="!css.isReadOnly"></span>-->
                        <a [href]="'/finance/admin/files?url=' + pic.url" target="_blank">{{pic.name}}</a>
                    </div>
                </div>
            </td>
        </tr>
        <!--<tr class="item-title">-->
            <!--<td colspan="4"><label><input type="checkbox">发送给业务人员</label><label><input type="checkbox">发送给用户</label></td>-->
        <!--</tr>-->
        <tr class="item-title" *ngIf="!css.isReadOnly">
            <td colspan="4">
                <span>审核意见:</span>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="1">通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="0">不通过</label>
                <label><input type="radio" name="isApproved" [(ngModel)]="isApprovedRadio" [value]="2">让业务员补充材料</label>
            </td>
        </tr>
        <tr class="item-title" *ngIf="css.isReadOnly">
            <td colspan="4">
                <span>审核意见: {{currentOrder.approveState}}</span>
            </td>
        </tr>
    </table>

    <div class="row info-item" *ngIf="!css.isReadOnly">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-save" (click)="audit(false)" [disabled]="css.isSubmitted || currentTask.endTime">保存</button>
            <button type="button" class="btn btn-default btn-sure ml-20" (click)="audit(true)" [disabled]="css.isSubmitted || currentTask.endTime || isApprovedRadio===-1">保存并提交</button>
            <button type="button" class="btn btn-default btn-return ml-20" (click)="goBack()" >返回</button>
        </div>
    </div>
    <div class="row info-item" *ngIf="css.isReadOnly">
        <div class="col-sm-12 info-val no-bottom-border center">
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" (click)="goBack()">返回</button>
        </div>
    </div>


</div>