<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li>我的待办</li>
        <li>&gt;</li>
        <li class="active">待办详情</li>
    </ol>
</div>

<process-tab [processInstanceId]="currentTask.processInstanceId" [financeId]="currentTask.financeId"></process-tab>


<div class="item-margin distribution-box">

    <div class="table-title">审批信息</div>

    <div class="row info-item mt-50">
        <span class="col-sm-2 info-label">审核状态:</span>
        <div class="col-sm-10 info-val">
            <span>{{currentTask.name}}</span>
        </div>
    </div>

    <div class="row info-item">
        <span class="col-sm-2 info-label">补充材料:</span>
        <div class="col-sm-10 info-val">
            <div class="attachment">
                <div class="attachment-list" *ngFor="let pic of attachmentList">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true" (click)="delAttachmentList1(pic)" ></span>
                    <a  [href]="pic.url">{{pic.name}}</a>
                </div>

                <file-upload *ngIf="!css.isReadOnly" (onFinished)="finishedUpload($event)"></file-upload>
            </div>
        </div>
    </div>

    <div class="row info-item">
        <div class="col-sm-offset-3 col-sm-6 mt-20">
            <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
            <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
        </div>

        <div class="col-sm-offset-2 col-sm-8 info-val no-bottom-border">
            <!--<button type="button" class="btn btn-default btn-lg btn-sure" (click)="save(false)" [disabled]="css.isSubmitted">保存</button>-->
            <button type="button" class="btn btn-default btn-lg btn-sure" (click)="save(true)" [disabled]="css.isSubmitted">保存提交</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20" [routerLink]="['/tasks/pending']">返回</button>
        </div>
    </div>

</div>