<div class="item-margin process-box">
    <ul class="nav nav-tabs">
        <li role="presentation" [class.active]="currentTab.index===1" (click)="changeTab(1)"><a class="left">审核流程</a></li>
        <li role="presentation" [class.active]="currentTab.index===2" (click)="changeTab(2)"><a class="right">步骤详情</a></li>
    </ul>
    <div class="process-info process-img" *ngIf="currentTab.index===1">
        <img [src]="'/api/financing/admin/process/' + processInstanceId + '/image'" alt="">
    </div>

    <table class="table info-table process-table" *ngIf="currentTab.index===2">
        <tr class="head">
            <th width="50"></th>
            <th width="200">步骤详情</th>
            <th width="160">开始操作时间</th>
            <th width="160">完成操作时间</th>
            <th width="120">当前处理人</th>
            <th width="100">所属部门</th>
        </tr>
        <tr class="item" *ngFor="let task of processList; let taskIndex = index; let taskFirst = first; let taskLast = last">
            <td>
                <!--<span class="icon" [class.processed]="taskFirst" [class.processing]="task.endTime" [class.process]="task.endTime"></span>-->
                <span class="icon" [class.processing]="!task.endTime" [class.process]="task.endTime" *ngIf="taskLast">{{taskIndex + 1}}</span>
            </td>
            <td>{{task.name}}</td>
            <td>{{task.startTime}}</td>
            <td>{{task.endTime||'--'}}</td>
            <td>{{task.assigneeName||'--'}}</td>
            <td>{{task.assigneeDepartment||'--'}}</td>
        </tr>

    </table>
</div>