<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>审核管理</li>
        <li>&gt;</li>
        <li class="active">我的待办({{this.taskPendingList.length + this.taskAssignList.length}})</li>
    </ol>
</div>

<div class="item-margin">
    <table class="table table-striped mt-20 info-table">
        <tr class="head">
            <th width="120">融资类型</th>
            <th width="80">申请时间</th>
            <th >申请公司名称</th>
            <th width="100">拟融资总额状态<br/>(万元)</th>
            <th width="100">当前处理人 / 所属部门</th>
            <th ><span *ngIf="routeData.routeType === 'all'"> 参与的流程状态 / </span><span> 当前流程状态 </span></th>
            <th width="120">操作</th>
        </tr>

        <tr class="item" *ngFor="let task of taskAssignList">
            <td>
                <!--{{task.sourceId }} <br/>-->
                <span *ngIf="task.applyType==='MYR'">煤易融</span>
                <span *ngIf="task.applyType==='MYG'">煤易购</span>
                <span *ngIf="task.applyType==='MYD'">煤易贷</span>
            </td>
            <td>{{task.createTime | date:"yyyy-MM-dd"}}</td>
            <td>{{task.applyCompanyName}}</td>
            <td>{{task.financingAmount || '--'}}</td>
            <td>{{task.assigneeName ||'--'}} <br/>{{task.assigneeDepartment||'--'}}</td>
            <td>
                <span class="green">{{task.name}}</span> <br/>
                <!--<span class="orange">(补充材料)</span><br/>-->
                <!--<span>已完成</span>-->
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80"  [routerLink]="['/tasks', task.id, 'assign']">
                    <span>分配</span>
                    <!--<span *ngIf="task.name==='分配线上交易员'" > 分配线上交易员</span>-->
                    <!--<span *ngIf="task.name==='分配业务员'" > 分配业务员</span>-->
                    <!--<span *ngIf="task.name==='分配尽调员'" > 分配尽调员</span>-->
                    <!--<span *ngIf="task.name==='分配风控人员'" > 分配风控人员</span>-->
                </button>
                <!--<button type="button" class="btn btn-xs btn-default btn-return w-80">补充材料</button>-->
            </td>
        </tr>

        <tr class="item" *ngFor="let task of taskPendingList">
            <td>
                <!--{{task.sourceId }} <br/>-->
                <span *ngIf="task.applyType==='MYR'">煤易融</span>
                <span *ngIf="task.applyType==='MYG'">煤易购</span>
                <span *ngIf="task.applyType==='MYD'">煤易贷</span>
            </td>
            <td>{{task.createTime | date:"yyyy/MM/dd"}}</td>
            <td>{{task.applyCompanyName}}</td>
            <td>{{task.financingAmount||'--'}}</td>
            <td>{{task.assigneeName ||'--'}} <br/>{{task.assigneeDepartment||'--'}}</td>
            <td>
                <span class="green">{{task.name}}</span> <br/>
                <!--<span class="orange">(补充材料)</span><br/>-->
                <!--<span>已完成</span>-->
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.onlineTraderAudit" [routerLink]="['/tasks', task.id, 'trader']" > 审核并填写材料 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.salesmanAudit" [routerLink]="['/tasks', task.id, 'salesman']" > 审核并填写材料 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.investigatorAudit" [routerLink]="['/tasks', task.id, 'investigator']" > 审核 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.salesmanSupplyInvestigationMaterial" [routerLink]="['/tasks', task.id, 'investigator', 'material']" > 填写材料 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.supervisorAudit" [routerLink]="['/tasks', task.id, 'supervisor']" > 审核 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.riskManagerAudit" [routerLink]="['/tasks', task.id, 'riskmanager']" > 审核 </button>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" *ngIf="task.taskDefinitionKey===taskStatusStep.riskManagerAuditSuccess" [routerLink]="['/tasks', task.id, 'riskmanager']" > 填写合同 </button>

                <!--<button type="button" class="btn btn-xs btn-default btn-return w-80">补充材料</button>-->
            </td>
        </tr>



        <tr class="item" *ngFor="let task of taskHistoryList">
            <td>{{task.sourceId }} <br/>
                <span *ngIf="task.applyType==='MYR'">煤易融</span>
                <span *ngIf="task.applyType==='MYG'">煤易购</span>
                <span *ngIf="task.applyType==='MYD'">煤易贷</span>
            </td>
            <td>{{task.startTime | date:"yyyy/MM/dd"}}</td>
            <td>{{task.applyCompanyName}}</td>
            <td>{{task.financingAmount||'--'}}</td>
            <td>{{task.currentAssigneeName ||'--'}} <br/>{{task.currentAssigneeDepartment||'--'}}</td>
            <td>
                <span class="green">{{task.name}} / {{task.currentName}}</span> <br/>
                <!--<span class="orange">(补充材料)</span><br/>-->
                <!--<span>已完成</span>-->
            </td>
            <td>
                <button type="button" class="btn btn-xs btn-default btn-sure w-80" [routerLink]="['/tasks', task.id, 'investigator','info']" > 查看详情 </button>
            </td>
        </tr>
    </table>
</div>