//头部css 更新与2016-5-17
$hoverColor: #00b7ec;
$headerBgColor: #292929;
#paymentHeader {

  .headWrap {
    height: 35px;
    background: $headerBgColor;
    font-size: 12px;
    color: #fff;
    font-family: "microsoft yahei";
    position: relative;
    z-index: 100;

    .wrap1000 {
      width: 1000px;
      margin: 0 auto;

      .menuList {
        float: left;

        li > span {
          vertical-align: middle;
        }
        .red{
          color: #fe6e27;
          font-size: 14px;
          font-family: "Arial";
        }

        li {
          float: left;
          position: relative;
          background: url("#{$assetPath}/images/header/indexBorder.png") no-repeat right  center;
          line-height: 35px;
          a {
            color: #fff;
            display: inline-block;
            &:hover {
              color: $hoverColor;
              text-decoration: none;
            }
            &.blue{color:#00b7ec;}
          }
          &.noborder {
            background: none;
          }

        }
        .hoverDiv:hover .hideMenu {
          display: block
        }
      }
      .leftMenuList{
        li{
          padding: 0px 5px;
        }
      }
      .rightMenuList {
        float: right;
        li{
          padding: 0px 18px;
          position: relative;
          .Nav{
            width: 485px!important;
            height: 208px;
            background-color: white;
            position: absolute;
            top:35px;
            right: 0;
            z-index: 99;
            border-right:1px solid $color_border;
            border-bottom:1px solid $color_border;
            border-left:1px solid $color_border;
            padding: 25px;
            display: none;
            div{
              h2{
                font-size: 14px;
                color: #333333;
                font-weight: bold;
                .headBg{
                  width:4px;
                  height: 16px;
                  display: inline-block;
                  background-color: #00b7ec;
                  margin-right: 8px;
                  vertical-align: middle;
                }
              }
              table{
                margin:10px 0 0 12px;
                border-right:1px solid $color_border;
                td{
                  padding-right:36px ;
                  a{
                    color: #666;
                    font-size: 14px;
                    &:hover{
                      color: $hoverColor;
                    }
                  }
                }
              }
              .noborder{
                border: none;
              }
            }
            .floatR{
              float: right;
            }
            .floatL{
              float: left;
            }

          }
          .phoneHelper{
            width: 385px!important;
            height: 210px;
            background-color: white;
            position: absolute;
            top:35px;
            right: 0;
            z-index: 99;
            border-right:1px solid $color_border;
            border-bottom:1px solid $color_border;
            border-left:1px solid $color_border;
            padding: 25px 30px 0 30px;
            display: none;
            div{
              width: 160px;
              h2{
                font-size: 14px;
                color: #333333;
                font-weight: bold;
                text-align: center;
              }
            }
            .floatR{
              float: right;
            }
            .floatL{
              float: left;
            }
          }
        }
        li.hoverDiv:hover{
          background-color: white;
          a.hoverTitle{
            color:$hoverColor ;
          }
        }
        .paddingRight0{
          padding-right: 0;
        }
      }
    }
  }
}

#subHeader {
  .subHeaderWrap {
    //height: 85px;
    min-height: 73px;
    background: #fff;
    box-shadow: 0px 2px 3px #ddd;

    a {
      cursor: pointer;
      outline: none;
      text-decoration: none;
    }
    .hidden-ul {
      display: none;
    }
    .subHeader1000 {
      width: 1000px;
      padding-top: 17px;
      padding-bottom: 8px;
      margin: 0 auto;
      height: 79px;
      a, span {
        display: inline-block;
        vertical-align: middle;
        font-size: 18px;
        color: #666;
      }
      .subHeaderTit {
        margin-left: 10px;
        position: relative;
        top: -2px;
        i{
          font-size: $size_font_middle;
        }
      }
      .tab-cards {
        display: inline-block;
        float: right;
        margin-top: 18px;
        position: relative;
        ul {
          float: right;
          font-size: 18px;
          color: #666666;
          li {
            float: left;
            padding: 5px 10px;
            position: relative;
            a.selected {  color: $color_btn_blue;  }
          }
        }
        .arrow-blue {
          position: absolute;
          border-style: solid dashed dashed;
          border-color: transparent transparent $color_btn_blue;
          bottom: -7px;
          border-width: 7px;
          left: 23px;
        }
        .tab-step-1 {
          border-width: 7px;
          left: 23px;
        }
        .tab-step-2 {
          border-width: 7px;
          left: 92px;
        }
        .tab-step-3 {
          border-width: 7px;
          left: 186px;
        }
        .tab-step-4 {
          border-width: 7px;
          left: 278px;
        }
        .tab-step-5 {
          border-width: 7px;
          left: 372px;
        }
      }
    }
    .second-tab {
      border: 1px solid $color_btn_blue;
      background-color: $color_btn_blue;
      font-size: 16px;
      color: $color_text_white;
      ul {
        height: 32px;
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
        li {
          float: left;
          width: 100px;
          padding: 5px 0 6px 0;
          margin: -1px;
          text-align: center;
          &:hover {
            background-color: #8edaf1;
          }
          a {
            color: $color_text_white;
          }
        }
        li.selected {
          background-color: #8edaf1;
        }
      }
    }
  }
}
//头部样式结束
