
<div class="row">

    <div class="col-sm-12">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown1 <span class="caret"></span> </a>
        <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>

    <div class="col-sm-12">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown2 <span class="caret"></span> </a>
        <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">Profile</a></li>
            <li role="presentation"><a href="#">Messages</a></li>
        </ul>
    </div>
</div>