
<div class="row left-menu">
    <div class="col-sm-12 menu-item">
        <a href="#" class="icon verify-icon dropdown-toggle" data-toggle="dropdown">审核管理<span class="caret"></span> </a>
        <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a class="item" href="#">我的待办<span class="notice">8</span></a></li>
            <li role="presentation"><a class="item" href="#">我的审核<span class="notice">16</span></a></li>
        </ul>
    </div>

    <div class="col-sm-12 menu-item">
        <a href="#" class="icon info-icon dropdown-toggle"  data-toggle="dropdown">个人信息<span class="caret"></span> </a>
        <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a class="item" [routerLink]="['/userinfo']">基本信息</a></li>
            <li role="presentation"><a class="item" href="#">修改密码</a></li>
        </ul>
    </div>

    <div class="col-sm-12 menu-item menu-selected">
        <a href="#" class="icon jurisdiction-icon dropdown-toggle" data-toggle="dropdown">权限设置<span class="caret"></span> </a>
        <ul class="nav nav-stacked">
            <li role="presentation" class="active"><a class="item" href="#">用户管理</a></li>
            <li role="presentation"><a class="item" href="#">角色管理</a></li>
        </ul>
    </div>

    <!--<ul>-->
        <!--<li>-->
            <!--<dl>-->
                <!--<dt class="dropdown-toggle">审核管理</dt>-->
                <!--<dd>我的待办</dd>-->
                <!--<dd>我的审核</dd>-->
            <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
        <!--<dl>-->
        <!--<dt>个人信息</dt>-->
        <!--<dd>基本信息</dd>-->
        <!--<dd>修改密码</dd>-->
        <!--</dl>-->
        <!--</li>-->
        <!--<li>-->
        <!--<dl>-->
        <!--<dt>权限设置</dt>-->
        <!--<dd>用户管理</dd>-->
        <!--<dd>角色管理</dd>-->
        <!--</dl>-->
        <!--</li>-->
    <!--</ul>-->
</div>