/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
.picker {
  font-size: 12px;
  font-family: arial, sans-serif;
  text-align: left;
  line-height: 1.2;
  color: #333;
  position: absolute;
  left: -1px;
  top: 26px;
  z-index: 10000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: none;
  .picker-forange{
    color:#ff6e27;
  }
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: #00b7ec;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: http://amsul.github.io/pickadate.js
 */
/**
 * Note: the root picker element should *NOT* be styled more than what’s here.
 */
/**
 * Make the holder and frame fullscreen.
 */


/**
 * The frame that bounds the box contents of the picker.
 */

/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
  display: table;
  width: 100%;
  height: 100%;
}

/**
 * The box contains all the picker contents.
 */
.picker__box {
  background: #ffffff;
  display: table-cell;
  border: 1px solid #e4e4e4;
}

/**
 * When the picker opens...
 */
.picker--opened{
  display: block;
}


/**
 * For `large` screens, transform into an inline picker.
 */


/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/**
 * The picker box.
 */

/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: 10px;
  font-size: 15px;
  font-family: Microsoft YaHei, SimSun;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  display: inline-block;
}

/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  border: 1px solid #b7b7b7;
  height: 2em;
  padding: .5em;
  margin-left: .25em;
  margin-right: .25em;
}
@media (min-width: 24.5em) {
  .picker__select--month,
  .picker__select--year {
    margin-top: -0.5em;
  }
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #0089ec;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  width: 10px;
  height: 13px;
  top: 2px;
}

.picker__nav--prev {
  left: 20px;
  background: url("#{$assetPath}/css/images/datepicker/bg-datepicker.png") no-repeat 0 0;

}

.picker__nav--next {
  right: 20px;
  background: url("#{$assetPath}/css/images/datepicker/bg-datepicker.png") no-repeat  -10px 0;
}


/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  margin: 10px 10px 0;
  width: 200px;
  min-height: 180px;
}

.picker__table td {
  margin: 0;
  padding: 2px 0;
}
/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.285714286%;
  font-size:12px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #333;
  text-align: center;
  border-bottom: 1px solid #e4e4e4;
}

/**
 * The days on the calendar
 */
.picker__day {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color:#00b7ec;
}
.picker__day--today {
  cursor: pointer;
  color: #ff6e27;
  font-size: 10px;
  font-family: arial, sans-serif;
}


.picker__day--outfocus {
  display: none;
}
.picker__day--infocus:hover,.picker__day--outfocus:hover,.picker__day--selected
{
  cursor: pointer;
  background-color: #00b7ec;
  color: #fff;
}
.picker__day--disabled,.picker__day--disabled:hover {
  color:#999!important;
  cursor: not-allowed;
  background: none;
}

.picker__day--selected.picker-forange{
  color:#fff;
}

/**
 * The footer containing the "today", "clear", and "close" buttons.
 */
.picker__footer {
  text-align: center;
}
.picker__button--today,
.picker__button--clear,
.picker__button--close {
  border: 1px solid #ffffff;
  background: #ffffff;
  padding: .66em 0;
  font-weight: bold;
  width: 33%;
  display: inline-block;
  vertical-align: bottom;
}
.picker__button--today:hover,
.picker__button--clear:hover,
.picker__button--close:hover {
  cursor: pointer;
  color: #000000;
}
.picker__button--today:focus,
.picker__button--clear:focus,
.picker__button--close:focus {
  outline: none;
}
.picker__button--today:before,
.picker__button--clear:before,
.picker__button--close:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before,
.picker__button--clear:before {
  content: " ";
  margin-right: .45em;
}
.picker__button--today:before {
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid #0059bc;
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  top: -0.25em;
  width: .66em;
  border-top: 3px solid #ee2200;
}
.picker__button--close:before {
  content: "\D7";
  top: -0.1em;
  vertical-align: top;
  font-size: 1.1em;
  margin-right: .35em;
  color: #777777;
}
.picker__button--today[disabled],
.picker__button--today[disabled]:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__button--today[disabled]:before {
  border-top-color: #aaaaaa;
}

.bg-month-1{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-1.png") no-repeat center 40px;
}

.bg-month-2{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-2.png") no-repeat center 40px;
}

.bg-month-3{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-3.png") no-repeat center 40px;
}

.bg-month-4{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-4.png") no-repeat center 40px;
}

.bg-month-5{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-5.png") no-repeat center 40px;
}

.bg-month-6{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-6.png") no-repeat center 40px;
}

.bg-month-7{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-7.png") no-repeat center 40px;
}

.bg-month-8{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-8.png") no-repeat center 40px;
}

.bg-month-9{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-9.png") no-repeat center 40px;
}

.bg-month-10{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-10.png") no-repeat center 40px;
}

.bg-month-11{
  background: url("#{$assetPath}/css/images/datepicker/bg-month-11.png") no-repeat center 40px;
}

.bg-month-12{
  background: url("#{$assetPath}/css/images/datepicker//bg-month-12.png") no-repeat center 35px;
}
.picker tr,.picker td{border: none;}
.picker__table td {
  margin: 0;
  padding: 2px 0;
}