
.pagination-financial {
  padding-left: 150px;
  overflow: hidden;
  margin: 40px 10px;

  .pageno{
    float: left;
    margin: 0px 10px;
    li {
      .disabled {
        color: $color_text_select_gray;
      }

      .active {
        background-color: $color_button_hover_blue;
        color: #fff;
      }

      a {
        font-size: $size_font_middle;
        color: $color_text_gray;

        padding: 9px 14px;

        &:hover, &:focus {
          background-color: $color_button_hover_blue;
          color: #fff;
        }

      }

      &:first-child, &:last-child{
        a{
          border-radius: 0px;
        }
      }
    }

  }


  .jump-to-page{
    float: left;
    margin: 5px 3px;
    font-size: $size_font_middle;
    color: $color_text_select_gray;

    input {
      width: 37px;
      height: 32px;
      margin: 0px 6px;
      padding: 3px 5px;
      text-align: center;
    }

    .pagination-button{

      font-size: $size_font_middle;
      color: $color_text_select_gray;

      min-width: 50px;
      height: 34px;
      line-height: 34px;
      margin: -2px 6px 0px 6px;
      padding: 0px 10px;
      border-radius: 0px;
      background-color: #fff;
      border: 1px solid $color_border_input_light;
    }
  }

}

