
<header></header>

<div class="container-fluid homebox">

    <div class="row">
        <div class="col-sm-2">

            <left-menu></left-menu>

        </div>

        <div class="col-sm-10">
            <div class="row">
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            </div>

            <div class="row">
                <h1>{{title}} </h1>


                <router-outlet></router-outlet>
            </div>


        </div>
    </div>


</div><!-- /.container -->

