@import '../helpers/_variables.scss';
body{
  background-image: url("#{$assetPath}/css/images/bg_img.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;/* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
  background-size: cover;
}

.loginWrap{
  width: 100%;
  //min-height: 900px;
  //margin-bottom: 100px;

  text-align: center;
  .loginCon{
    margin: 214px 0 0 0;
    padding: 0;
    width: 480px;
    height: 387px;
    display: inline-block;
    background: rgba(0,0,0,.4);
    //border:1px solid #58626a;
    .title{
      h1{
        color: #ffffff;
        text-align: left;
        font-size: 18px;
        font-family: "微软雅黑";
        font-weight: normal;
        margin-left: 15px;
        line-height: 52px;
        margin-top: 0;
        margin-bottom: 0;
      }
      border-bottom: 1px solid #55768e;
    }
    form{
      padding: 35px 75px;
      div{
        .inputText{
          width: 330px;
          height: 45px;
          font-size: 16px;
          padding-left: 10px;
          line-height: 45px;
          margin-bottom: 20px;
        }
      }
      .error{
        color: #f66c54;
        font-size: 14px;
        text-align: left;
        line-height: 25px;
        height: 25px;
      }
      .button{
        width: 330px;
        height: 55px;
        background: #00aaee;
        color: #ffffff;
        border:none;
        font-size: 18px;
        outline: none;
      }
      .tips{
        width: 330px;
        height: 20px;
        background: url("#{$assetPath}/css/images/tips.png") no-repeat left top;
        margin-top: 34px;
      }
    }
  }
}