<div class="custom-pagination" *ngIf="totalPage > 1">
  <div class="pagination-previous">
    <a (click)="previous()" *ngIf="pageObj.page!==1">上一页</a>
    <span class="css-disabled" *ngIf="pageObj.page===1">上一页</span>
  </div>

  <div class="page-item" *ngFor="let item of pageItems">
    <div class="basic">
      <a *ngIf="!item.isdisabled&&item.value!==pageObj.page" (click)="itemClick(item.value)">{{item.value}}</a>
      <span *ngIf="item.isdisabled||item.value===pageObj.page" class="css-disabled">{{item.value}}</span>
    </div>
  </div>

  <div class="pagination-next">
    <a (click)="next()" *ngIf="pageObj.page!==totalPage">下一页</a>
    <span class="css-disabled" *ngIf="pageObj.page===totalPage">下一页</span>
  </div>
</div>