$assetPath : "/static/admin";

$white:#ffffff;
$green:#18aa6b;
$err-color:#f66c54;
$border-color:#ececec;
$input-border-color:#e0e0e0;
$btn-border-color:#e4e4e4;
$menu-text-color:#a2acb5;
$menu-bg-color:#f2f2f2;

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($shadow) {
  -moz-box-shadow:$shadow;
  -webkit-box-shadow:$shadow;
  box-shadow:$shadow;
}

@keyframes spin {
  from { transform: scale(1) rotate(0deg);}
  to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
  from { -webkit-transform: rotate(0deg);}
  to { -webkit-transform: rotate(360deg);}
}
