<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li>角色管理</li>
        <li>&gt;</li>
        <li class="active">添加角色</li>
    </ol>
</div>

<div class="item-margin">
    <div class="row mt-50 info-item">
        <span class="col-sm-2 info-label-input">角色名称:</span>
        <div class="col-sm-10 info-val">
            <input type="text" value="角色名称">
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label">选择权限:</span>
        <div class="col-sm-10 info-val">
            <div class="jurisdicition-manage">
                <div class="roles ml-30 fs-16">
                    <label><input type="checkbox">所有功能权限</label>
                </div>
                <div class="roles mt-20 fs-16 ml-50">
                    <label><input type="checkbox">用户管理</label>
                </div>
                <div class="role mt-10 ml-70">
                    <label><input type="checkbox">查看</label>
                    <label class="ml-20"><input type="checkbox">新增</label>
                    <label class="ml-20"><input type="checkbox">删除</label>
                    <label class="ml-20"><input type="checkbox">编辑</label>
                    <label class="ml-20"><input type="checkbox">冻结</label>
                </div>
                <div class="roles mt-20 fs-16 ml-50">
                    <label><input type="checkbox">标的管理</label>
                </div>
                <div class="role mt-10 ml-70">
                    <label class="ml-20"><input type="checkbox">发标管理</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-10 info-item">
        <span class="col-sm-2 info-label">角色描述:</span>
        <div class="col-sm-10 info-val">
            <textarea class="form-control" rows="6"></textarea>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input"></span>
        <div class="col-sm-10 info-val">
            <button type="button" class="btn btn-default btn-lg btn-save">保存</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20">返回</button>
        </div>
    </div>
</div>