<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li>用户管理</li>
        <li>&gt;</li>
        <li class="active" *ngIf="css.isAddStatus">添加用户</li>
        <li class="active" *ngIf="!css.isAddStatus">编辑用户</li>
    </ol>
</div>

<div class="item-margin">
    <form class="form-horizontal" (ngSubmit)="addUser(addUserForm)" #addUserForm="ngForm">
        <div class="row mt-50 info-item">
            <label class="col-sm-2 info-label-input" for="usernameInput"><span class="orange">*</span>用户账号:</label>
            <div class="col-sm-10 info-val">
                <input type="text" class="form-control wd-30" id="usernameInput" [disabled]="!css.isAddStatus" name="username" [(ngModel)]="currentUser.username" maxlength="16" #username="ngModel" required >
                <span class="help-block" [class.hidden]="username.valid || username.pristine">请填写用户账号!</span>
            </div>
        </div>
        <div class="row info-item">
            <label class="col-sm-2 info-label-input" for="nameInput"><span class="orange">*</span>用户姓名:</label>
            <div class="col-sm-10 info-val">
                <input type="text" class="form-control wd-30" id="nameInput" name="name" [(ngModel)]="currentUser.name" #name="ngModel" required>
                <span class="help-block" [class.hidden]="name.valid || name.pristine">请填用户姓名!</span>
            </div>
        </div>
        <div class="row info-item">
            <label class="col-sm-2 info-label"><span class="orange">*</span><span>选择角色:</span></label>
            <div class="col-sm-10 info-val">
                <div class="roles fs-16">
                    <span class="hint">(注:最多只能同时拥有<span class="orange">3个角色</span>)</span>
                </div>
                <div class="role user mt-10">
                    <custom-checkbox [sourceData]="groups" [limitLength]="13" [(ngModel)]="this.currentUser.groupIds" [ngModelOptions]="{standalone: true}"></custom-checkbox>
                </div>
                <span class="help-block" [class.hidden]="true">请选择角色!</span>
            </div>
        </div>
        <div class="row info-item">
            <label class="col-sm-2 info-label-input" for="emailInput"><span class="orange">*</span><span>公司邮箱:</span></label>
            <div class="col-sm-10 info-val">
                <input type="text" class="form-control wd-30" id="emailInput" name="email" pattern="^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$" [(ngModel)]="currentUser.email" #email="ngModel" required >
                <button type="button" class="btn btn-default btn-return ml-20 btn-reset-pwd" [class.hidden]="css.isAddStatus" (click)="showResetModal(currentUser.id,'确认重置用户密码吗?')">重置密码</button>
                <span class="help-block" [class.hidden]="email.valid || email.pristine">请填写公司邮箱!</span>
            </div>
        </div>
        <div class="row info-item">
            <label class="col-sm-2 info-label-input" for="phoneInput"><span>手机号码:</span></label>
            <div class="col-sm-10 info-val">
                <input type="text" class="form-control wd-30" id="phoneInput" name="phone" pattern="^1[3|4|5|7|8]\d{9}$" [(ngModel)]="currentUser.phone" #phone="ngModel" >
                <span class="help-block" [class.hidden]="phone.valid || phone.pristine">请填写正确的手机号码!</span>
            </div>
        </div>
        <div class="row info-item">
            <label class="col-sm-2 info-label-input"><span>所属部门:</span></label>
            <div class="col-sm-10 info-val">
                <custom-select  [optionList]="departments" [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}"></custom-select>
            </div>
        </div>
        <div class="row info-item mb-50">
            <div class="col-sm-offset-2 col-sm-6 error-val no-bottom-border">
                <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">保存成功!</div>
                <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">保存失败!</div>
            </div>

            <div class="col-sm-offset-2 col-sm-8 info-val no-bottom-border">
                <button type="submit" class="btn btn-default btn-lg btn-sure mr-20" [disabled]="addUserForm.form.invalid || css.isSubmitted"  >保存</button>
                <button type="button" class="btn btn-default btn-lg btn-return" [routerLink]="['/users']">返回</button>
                <div class="mt-20 fs-14"><span class="hint">注:确认保存后,该系统用户的密码将 <span class="orange">发送至填写的公司邮箱中。</span></span></div>
            </div>
        </div>
    </form>
</div>
<custom-modal [(ngModel)]="css.isHiddenResetModal" [modalShowText]="modalShowText" (cancel)="hiddenModal()" (confirm)="resetPwd()"></custom-modal>
<custom-modal [(ngModel)]="css.isHiddenMsgModal" [modalShowText]="modalShowText" (cancel)="hiddenModal()" (confirm)="hiddenModal()"></custom-modal>