<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li *ngIf="fundCompany.type===2">资金方管理</li>
        <li *ngIf="fundCompany.type===1">业务线管理</li>
        <li>&gt;</li>
        <li class="active" *ngIf="css.isAddStatus&&fundCompany.type===2">添加资金方</li>
        <li class="active" *ngIf="!css.isAddStatus&&fundCompany.type===2">编辑资金方</li>
        <li class="active" *ngIf="css.isAddStatus&&fundCompany.type===1">添加业务线</li>
        <li class="active" *ngIf="!css.isAddStatus&&fundCompany.type===1">编辑业务线</li>
    </ol>
</div>

<div class="item-margin">
    <form class="form-horizontal" *ngIf="css.formActiveForRefresh" (ngSubmit)="addUser()" #addFundCompanyForm="ngForm">
        <div class="row mt-50 info-item">
            <label class="col-sm-2 info-label-input" for="nameInput"><span class="orange">*</span>资金方公司名称:</label>
            <div class="col-sm-10 info-val">
                <input type="text" class="form-control wd-30" id="nameInput" name="name" [(ngModel)]="fundCompany.name" maxlength="100" #name="ngModel" required >
                <span class="help-block" [class.hidden]="name.valid || name.pristine">请填写资金方公司名称!</span>
            </div>
        </div>
        <div class="row info-item mb-50">
            <div class="col-sm-offset-2 col-sm-6 error-val no-bottom-border">
                <div class="alert alert-success" role="alert" [class.hidden]="css.ajaxSuccessHidden">编辑成功!</div>
                <div class="alert alert-danger" role="alert" [class.hidden]="css.ajaxErrorHidden">{{errorMsg}}!</div>
            </div>

            <div *ngIf="css.isAddStatus" class="col-sm-offset-2 col-sm-8 info-val no-bottom-border">
                <button type="submit" class="btn btn-default btn-lg btn-sure mr-20" [disabled]="addFundCompanyForm.form.invalid || css.isSubmitted"  >下一步</button>
                <button type="button" class="btn btn-default btn-lg btn-return" [routerLink]="['/fundcompanys']">返回</button>
            </div>

            <div *ngIf="!css.isAddStatus" class="col-sm-offset-2 col-sm-8 info-val no-bottom-border">
                <button type="submit" class="btn btn-default btn-lg btn-sure mr-20" [disabled]="addFundCompanyForm.form.invalid || css.isSubmitted"  >保存</button>
                <button type="button" class="btn btn-default btn-lg btn-return" [routerLink]="['/fundcompanys']">返回</button>
            </div>
        </div>
    </form>
</div>