<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li class="active">角色管理</li>
    </ol>
</div>

<div class="item-margin">
    <div class="row-search">
        <span>角色名称:</span>
        <input type="text" value="fdsfsdfsdf">
        <button class="btn btn-default" type="submit">查询</button>
        <button type="button" class="btn btn-default btn-addrole" [routerLink]="['/addrole']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加角色
        </button>
    </div>
    <table class="table table-striped mt-20 info-table">
        <tr class="head">
            <th width="60">序号</th>
            <th width="200">角色名称</th>
            <th width="200">被分配人数(个)</th>
            <th width="200">操作人</th>
            <th width="200">操作</th>
        </tr>

        <tr class="item" *ngFor="let role of groupList ">
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td>{{role.type}}</td>
            <td>操作人</td>
            <td class="operation">
                <span class="operate-forbid">无法操作</span>
                <span class="right-border" [routerLink]="['/userroles', role.id ]">查看</span>
                <span class="right-border" [routerLink]="['/userroles', role.id, 'edit']">编辑</span>
            </td>
        </tr>

    </table>
</div>