<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li>角色管理</li>
        <li>&gt;</li>
        <li class="active">查看角色</li>
    </ol>
</div>

<div class="item-margin">
    <div class="row mt-50 info-item">
        <span class="col-sm-2 info-label">角色名称:</span>
        <div class="col-sm-10 info-val">
            <span>角色名称</span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label">我的权限:</span>
        <div class="col-sm-10 info-val">
            <div class="fs-16">用户管理</div>
            <div class="role mt-10">
                <label><input type="checkbox">查看</label>
                <label class="ml-20"><input type="checkbox">新增</label>
                <label class="ml-20"><input type="checkbox">删除</label>
                <label class="ml-20"><input type="checkbox">编辑</label>
                <label class="ml-20"><input type="checkbox">冻结</label>
            </div>
            <div class="fs-16 mt-20">标的管理</div>
            <div class="role mt-10">
                <label><input type="checkbox">发标管理</label>
            </div>
        </div>
    </div>
    <div class="row mt-10 info-item">
        <span class="col-sm-2 info-label">角色描述:</span>
        <div class="col-sm-10 info-val">
            <span>风刀霜剑发生的纠纷事件发生江东父老绝世独立开发建设的肌肤快速的减肥路上的加夫里什的肌肤快速的减肥经历首都发生的纠纷结束的</span>
        </div>
    </div>
    <div class="row info-item">
        <span class="col-sm-2 info-label-input"></span>
        <div class="col-sm-10 info-val">
            <button type="button" class="btn btn-default btn-lg btn-save" [routerLink]="['/editrole']">编辑</button>
            <button type="button" class="btn btn-default btn-lg btn-return ml-20">返回</button>
        </div>
    </div>
</div>