<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li class="active">用户管理</li>
    </ol>
</div>

<div class="item-margin">
    <div class="row-search">
        <span>用户账号:</span><input type="text" [(ngModel)]="username">
        <span>用户姓名:</span><input type="text" [(ngModel)]="name">
        <span>角色名称:</span><custom-select  [optionList]="groups" [(ngModel)]="selectedItem" [ngModelOptions]="{standalone: true}"></custom-select>
        <button class="btn btn-default" type="button" (click)="getUserList()">查询</button>
        <button type="button" class="btn btn-default btn-addrole" [routerLink]="['/users/add']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加用户
        </button>
    </div>
    <table class="table table-striped mt-20 info-table">
        <tr class="head">
            <th width="100">用户账号</th>
            <th width="70">用户姓名</th>
            <th width="120">所在部门</th>
            <th >所属角色</th>
            <th width="130">最后一次登录</th>
            <th width="180">操作</th>
        </tr>
        <tr class="item" *ngIf="!userList||userList.length < 1"><td colspan="6">暂无用户数据数据</td></tr>
        <tr class="item" *ngFor="let user of userList">
            <td><a [routerLink]="['/users', user.id]">{{user.username}}</a></td>
            <td>{{user.name||'--'}}</td>
            <td>{{user.department||'--'}}</td>
            <td><span *ngFor="let usergroup of user.groupList">{{usergroup.name}}&nbsp;</span></td>
            <td>{{user.lastLoginTime || '--'}}</td>
            <td class="operation">
                <span *ngIf="!user.operateAuthority" class="operate-forbid">无法操作</span>
                <span *ngIf="user.operateAuthority" class="right-border" (click)="showResetModal(user.id,'确认重置用户密码吗?')">重置密码</span>
                <span *ngIf="user.operateAuthority" class="right-border" [routerLink]="['/users', user.id, 'edit']">编辑</span>
                <span *ngIf="user.operateAuthority" (click)="showDelModal(user.id,'确认删除该用户吗?')">删除</span>
            </td>
        </tr>
    </table>
    <pagination [pageObj]="pageObj" (pageClick)="getPageData($event)" ></pagination>
</div>
<custom-modal [(ngModel)]="isHiddenDelModal" [modalShowText]="modalShowText" (cancel)="hiddenModal()" (confirm)="delUser()"></custom-modal>
<custom-modal [(ngModel)]="isHiddenResetModal" [modalShowText]="modalShowText" (cancel)="hiddenModal()" (confirm)="resetPwd()"></custom-modal>
<custom-modal [(ngModel)]="isHiddenMsgModal" [modalShowText]="modalShowText" (cancel)="hiddenModal()" (confirm)="hiddenModal()"></custom-modal>
