<div class="item-margin breadcrumb-box">
    <ol class="breadcrumb">
        <li>权限设置</li>
        <li>&gt;</li>
        <li class="active">用户管理</li>
    </ol>
</div>

<div class="item-margin">
    <div class="row-search">
        <span>用户账号:</span><input type="text" value="">
        <span>用户姓名:</span><input type="text" value="">
        <span>角色名称:</span><input type="text" value="">
        <button class="btn btn-default" type="submit">查询</button>
        <button type="button" class="btn btn-default btn-addrole" [routerLink]="['/users/add']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> 添加用户
        </button>
    </div>
    <table class="table table-striped mt-20 info-table">
        <tr class="head">
            <!--<th width="60">序号</th>-->
            <th width="100">用户账号</th>
            <th width="80">用户姓名</th>
            <th width="200">角色名称</th>
            <th width="120">最后一次登录</th>
            <th width="200">操作</th>
        </tr>
        <tr class="item" *ngFor="let user of userList">
            <!--<td>{{user.id}}</td>-->
            <td>{{user.username}}</td>
            <td>{{user.name}}</td>
            <td>
                <span *ngFor="let usergroup of user.groupList">{{usergroup.name}}&nbsp;</span>
            </td>
            <td>2016-12-01 23:22:00</td>
            <td class="operation">
                <!--<span class="operate-forbid">无法操作</span>-->
                <span class="right-border" [routerLink]="['/users', user.id, 'password']">重置密码</span>
                <span class="right-border" [routerLink]="['/users', user.id]">查看</span>
                <span class="right-border" [routerLink]="['/users', user.id, 'edit']">编辑</span>
                <!--<span (click)="showModal(user.id)">删除</span>-->
                <span (click)="showModal(user.id)">删除</span>
            </td>
        </tr>
    </table>
</div>
<custom-modal [(ngModel)]="isHiddenModal" (cancel)="hiddenModal()" (confirm)="delUser()"></custom-modal>
