@import '../helpers/_variables.scss';
$assetPath : "/static/site";

$borderColor:#e4e4e4;
.financeManageWrap{
  padding: 12px 0 50px 0;
  background-color: #f6f6f6;
  background-image: url("#{$assetPath}/css/images/finance/loading.gif");
  background-repeat: no-repeat;
  background-position: center 200px;
  .financeManage{
    width: 1200px;
    margin: 0 auto;

    //我的申请右侧内容样式开始
    .financeCon{
      background: #ffffff;
      width: 1060px;
      float: right;
      .application{
        padding: 20px;
        h4{
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 10px;
          span{
            width: 2px;
            height: 14px;
            display: inline-block;
            background-color: #1fb8ea;
            margin-right: 12px;
          }
        }
        .contact{
          .contact-title{
            border-top: 2px solid #1fb8ea;
            height: 43px;
            background: #e5f7fc;
            line-height: 43px;
            font-weight: bold;
            em{
              width: 20px;
              height: 20px;
              display: inline-block;
              background: url("#{$assetPath}/css/images/finance/table-title.png") no-repeat center;
              margin: -4px 10px;
            }
          }
          .btn{
            width: 180px;
            text-align: center;
            display: inline-block;
            color: #ffffff;
            border-radius: 2px;
            font-size: 16px;
            margin: 50px 0 50px 50px;
            text-decoration: none;
            &:hover{
              opacity: 0.7;
            }
          }
          .back{
            background: #aabfc5;
          }
          .blue{
            background-color: #1fb8ea;
          }
        }




      }
    }
    //我的申请右侧内容样式结束
  }
}

form{
  div{
    padding-top: 20px;
    text-align: left;
    label{
      width: 170px;
      text-align: left;
      line-height: 35px;
      vertical-align: bottom;
      font-size: 14px;
    }
    .money{
      display: inline-block;
      width: 180px;
      height: 35px;
      line-height: 35px;
      text-align: left;
      font-size: 14px;
    }
  }
}