@import '../helpers/_variables.scss';
@import '../layout/leftmenu.scss';
$assetPath : "/static/site";

$borderColor:#e4e4e4;
.financeManageWrap{
  padding: 12px 0 50px 0;
  background: #f6f6f6 url("#{$assetPath}/css/images/finance/loading.gif") no-repeat center 200px;
  .financeManage{
    width: 1200px;
    margin: 0 auto;
    //我的申请右侧内容样式开始
    .financeCon{
      background: #ffffff;
      width: 1060px;
      float: right;
      .application{
        padding: 20px;
        div{
          .breadcrumb{
            background: #ffffff;
            padding: 0;
            li{
              a{
                color: #333333;
                font-size: 14px;
              }
            }
          }
          .breadcrumb>.active{
            color: #999999;
            font-size: 14px;
          }
          .breadcrumb>li+:before{
            content: '';
            width: 9px;
            height: 12px;
            background: url("#{$assetPath}/css/images/finance/breadcrumb_li.png") no-repeat center;
            margin:  0 5px 0 3px;
          }
        }
        h4{
          font-size: 16px;
          font-weight: bold;
          padding-bottom: 10px;
          //border-bottom: 1px solid $borderColor;
          span{
            width: 2px;
            height: 14px;
            display: inline-block;
            background-color: #1fb8ea;
            margin-right: 12px;
          }
        }
        .table{
          .table-title{
            border-top: 2px solid #1fb8ea;
            height: 43px;
            background: #e5f7fc;
            line-height: 43px;
            font-weight: bold;
            em{
              width: 20px;
              height: 20px;
              display: inline-block;
              background: url("#{$assetPath}/css/images/finance/table-title.png") no-repeat center;
              margin: -4px 10px;
            }
          }
          .paddingTable{
            padding: 15px 0;
            border-bottom: 1px dotted $borderColor;
            table{
              width: 100%;
              //line-height: 40px;
              th{
                width: 184px;
                padding-left: 40px;
                color: #999999;
                vertical-align: top;
                line-height: 40px;
              }
              td{
                width: 326px;
                line-height: 40px;
                .red{
                  color: #ff6e27;
                  font-weight: bold;
                  font-family: 'Microsoft Yahei', Arial, Helvetica, "黑体", sans-serif;
                  font-size: 18px;
                }
                .gray{
                  color:#999999;
                  font-size: 14px;
                  line-height: 5px;
                  margin-bottom: 13px;
                }
                li{
                  float: left;
                  margin: 0 15px;
                  img{
                    width: 152px;
                    height: 152px;
                    display: inline-block;
                  }
                }
                .paddingL0{
                  margin-left: 0;
                }
              }
            }
          }
          .approvalInfo{
            table{
              width: 100%;
              tr{
                border-bottom: 1px dotted $borderColor;
                th{
                  width: 174px;
                  padding:40px 0 40px 40px;
                  color: #999999;
                  vertical-align: top;
                }
                td{
                  padding:40px 0 40px 0px;
                  .red{
                    color: #ff6e27;
                    em{
                      width: 20px;
                      height: 20px;
                      display: inline-block;
                      background: url("#{$assetPath}/css/images/modal/attention.png") no-repeat ;
                      background-size: contain;
                      margin: -4px 10px;
                    }
                  }
                  .green{
                    color: #18aa6b;
                    em{
                      width: 20px;
                      height: 20px;
                      display: inline-block;
                      background: url("#{$assetPath}/css/images/finance/waiting.png") no-repeat ;
                      background-size: contain;
                      margin: -4px 10px;
                    }
                  }
                  li{
                    float: left;
                    margin: 0 15px;
                    img{
                      width: 152px;
                      height: 152px;
                      display: inline-block;
                      margin-top: 10px;
                    }
                  }
                }
              }
            }
          }
          .btn{
            width: 180px;
            height: 40px;
            line-height: 25px;
            text-align: center;
            display: inline-block;
            background: #aabfc5;
            color: #ffffff;
            border-radius: 2px;
            font-size: 16px;
            margin: 50px 0 100px 50px;
            text-decoration: none;
            &:hover{
              opacity: 0.7;
            }
          }
          .back{
            background: #aabfc5;
          }
          .blue{
            background-color: #1fb8ea;
          }
        }




      }
    }
    //我的申请右侧内容样式结束
  }
}
