@charset "UTF-8";
@keyframes spin { from { transform: scale(1) rotate(0deg); }
  to { transform: scale(1) rotate(360deg); } }

@-webkit-keyframes spin2 { from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); } }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

/*  avalon */
.ms-controller { visibility: hidden; }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/* 公用: layout 布局 --------------------------- */
.containerWrap { width: 100%; height: 100%; padding-top: 20px; padding-bottom: 1px; background: #f5f5f5; }

.containerWrap .bodyWrap { width: 1000px; margin: 0 auto 50px; padding: 20px 30px 40px; background: #FFFFFF; /* 板块 */ }

.containerWrap .bodyWrap .plateBox { width: auto; }

.containerWrap .bodyWrap .plateBox .plateHead { height: 37px; position: relative; z-index: 3; }

.containerWrap .bodyWrap .plateBox .plateHead .prefix { float: left; display: inline; width: 2px; height: 18px; margin-top: 9px; margin-right: 8px; background: #00b6ef; }

.containerWrap .bodyWrap .plateBox .plateHead .headLeft { margin: 0; font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1"; }

.containerWrap .bodyWrap .plateBox .plateHead .headContent { width: 40%; display: block; margin: 0 auto; text-align: center; font: lighter 18px/36px "\5FAE\8F6F\96C5\9ED1"; }

.containerWrap .bodyWrap .plateBox .plateHead .headRight { width: 100px; float: right; display: inline; text-align: right; font-size: 12px; line-height: 36px; font-family: "宋体"; }

.containerWrap .bodyWrap .plateBox .plateHead .subTitle_hint { display: inline-block; height: 28px; color: #333333; font-size: 12px; font-family: "宋体"; line-height: 18px; }

.containerWrap .bodyWrap .plateBox .plateHead .headLeft_hint { display: inline-block; font-size: 12px; color: #ff6e27; }

.containerWrap .bodyWrap .plateBox .plateHead.borSolid { border-bottom: 1px solid #e8e8e8; }

.containerWrap .bodyWrap .plateBox .plateMain { position: relative; z-index: 4; border: none; }

.containerWrap .bodyWrap .plateBox .plateMain.borSolid { border: 1px solid #e8e8e8; }

#paymentHeader .headWrap { height: 35px; background: #292929; font-size: 12px; color: #fff; font-family: "microsoft yahei"; position: relative; z-index: 100; }

#paymentHeader .headWrap .wrap1200 { width: 1200px; margin: 0 auto; }

#paymentHeader .headWrap .wrap1200 .menuList { float: left; }

#paymentHeader .headWrap .wrap1200 .menuList li > span { vertical-align: middle; }

#paymentHeader .headWrap .wrap1200 .menuList .red { color: #fe6e27; font-size: 14px; font-family: "Arial"; }

#paymentHeader .headWrap .wrap1200 .menuList li { float: left; position: relative; background: url("/static/css/images/header/indexBorder.png") no-repeat right center; line-height: 35px; }

#paymentHeader .headWrap .wrap1200 .menuList li a { color: #fff; display: inline-block; }

#paymentHeader .headWrap .wrap1200 .menuList li a:hover { color: #00b7ec; text-decoration: none; }

#paymentHeader .headWrap .wrap1200 .menuList li a.blue { color: #00b7ec; }

#paymentHeader .headWrap .wrap1200 .menuList li.noborder { background: none; }

#paymentHeader .headWrap .wrap1200 .menuList .hoverDiv:hover .hideMenu { display: block; }

#paymentHeader .headWrap .wrap1200 .leftMenuList li { padding: 0px 5px; }

#paymentHeader .headWrap .wrap1200 .rightMenuList { float: right; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li { padding: 0px 18px; position: relative; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav { width: 485px !important; height: 208px; background-color: white; position: absolute; top: 35px; right: 0; z-index: 99; border-right: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; padding: 25px; display: none; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div h2 { font-size: 14px; color: #333333; font-weight: bold; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div h2 .headBg { width: 4px; height: 16px; display: inline-block; background-color: #00b7ec; margin-right: 8px; vertical-align: middle; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div table { margin: 10px 0 0 12px; border-right: 1px solid #e4e4e4; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div table td { padding-right: 36px; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div table td a { color: #666; font-size: 14px; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div table td a:hover { color: #00b7ec; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav div .noborder { border: none; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav .floatR { float: right; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .Nav .floatL { float: left; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .phoneHelper { width: 385px !important; height: 210px; background-color: white; position: absolute; top: 35px; right: 0; z-index: 99; border-right: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; border-left: 1px solid #e4e4e4; padding: 9px 30px 0 30px; display: none; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .phoneHelper div { width: 160px; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .phoneHelper div h2 { font-size: 14px; color: #333333; font-weight: bold; text-align: center; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .phoneHelper .floatR { float: right; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li .phoneHelper .floatL { float: left; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li.hoverDiv:hover { background-color: white; }

#paymentHeader .headWrap .wrap1200 .rightMenuList li.hoverDiv:hover a.hoverTitle { color: #00b7ec; }

#paymentHeader .headWrap .wrap1200 .rightMenuList .paddingRight0 { padding-right: 0; }

.g-nav { float: right; line-height: 40px; }

.g-nav ul, .g-nav li { list-style: none; padding: 0; margin: 0; }

.g-nav li { float: left; position: relative; border-top: 2px solid #ffffff; border-left: 2px solid #ffffff; border-right: 2px solid #ffffff; }

.g-nav li a { text-decoration: none; }

.g-nav li:hover { transition: all 0.5s; }

.g-nav li:hover .ico_down { transform: rotate(360deg); transition: all 0.5s; background-image: url("/static/css/images/header/ico_up.png"); }

.g-nav li:hover .navFist { color: #00b7ec !important; }

.g-nav li a.navFist { font-size: 16px; font-family: "Microsoft Yahei"; outline: none; color: #333333 !important; padding: 0 4px 34px 4px; transition: all 0.5s; }

.g-nav li a.navFist:hover { transition: all 0.5s; color: #00b7ec !important; }

.g-nav li .ico_hot { width: 10px; height: 12px; background-image: url("/static/css/images/header/hot.png"); position: absolute; top: 32px; right: 0; }

.g-nav li .ico_down { width: 9px; height: 7px; background-image: url("/static/css/images/header/ico_down.png"); position: absolute; top: 42px; right: 19px; }

.g-nav li.slideDl:hover { border-top: 2px solid #e4e4e4; border-left: 2px solid #e4e4e4; border-right: 2px solid #e4e4e4; background-color: #f4f6f8; transition: all 0.3s; }

.g-nav li:hover { transition: all 0.3s; }

.g-nav li:hover .slide { transition: all 0.3s; display: block; }

.g-nav li:hover a.navFist { transition: all 0.3s; border-bottom: 3px solid #00b7ec; }

.g-nav .normalLi { padding: 24px 20px 0 20px !important; }

.g-nav .slideDl-left { padding: 24px 10px 0 20px !important; }

.g-nav .slideDl-right { padding: 24px 20px 0 10px !important; }

.g-nav .slideDl { padding: 24px 30px 0 30px !important; width: 110px !important; }

.g-nav .lastLi { padding-right: 0 !important; }

.g-nav .active a.navFist { border-bottom: 3px solid #00b7ec; color: #00b7ec !important; }

.g-nav .active a.navFist .ico_down { background-image: url("/static/css/images/header/ico_up.png"); }

.g-nav .slide { display: none; position: absolute; left: -2px; z-index: 9999; width: 110px; text-align: center; background: #f4f6f8; border-bottom: 2px solid #e4e4e4; border-left: 2px solid #e4e4e4; border-right: 2px solid #e4e4e4; padding: 10px 10px 15px 10px; box-shadow: 0 1px transparent; }

.g-nav .slide dd { border-bottom: 1px solid #e4e4e4; }

.g-nav .slide dd a { color: #333333; line-height: 36px; font-size: 16px; transition: all 0.3s; text-decoration: none; }

.g-nav .slide dd a:hover { color: #00b7ec; padding-left: 2px; }

.g-nav .slide dd a:hover .block { background: #00b7ec; }

.g-nav .slide dd a .block { display: inline-block; width: 3px; height: 3px; vertical-align: middle; margin-right: 5px; }

.g-nav .slide dd.noborder { border-bottom: 0; }

.g-logo-bar-wrap { border-bottom: 1px solid #e4e4e4; }

.g-logo-bar { height: 92px; width: 1200px; margin: 0 auto; position: relative; }

.g-logo-bar ul, .g-logo-bar li { list-style: none; padding: 0; margin: 0; }

.g-logo-bar .g-logo { float: left; width: 270px; height: 40px; margin-top: 24px; }

#subHeader .subHeaderWrap { height: 85px; background: #fff; box-shadow: 0px 2px 3px #ddd; -ms-box-shadow: 0px 2px 3px #ddd; border-bottom: 2px solid #f8f8f8 \9; margin-bottom: 2px; }

#subHeader .subHeaderWrap .subHeader1000 { width: 1200px; padding-top: 17px; margin: 0 auto; }

#subHeader .subHeaderWrap .subHeader1000 .logo-title { float: left; }

#subHeader .subHeaderWrap .subHeader1000 .logo-title a { width: 100px; height: 51px; display: inline-block; background-image: url("/static/css/images/header/log-title.png"); }

#subHeader .subHeaderWrap .subHeader1000 .logo-title .subHeaderTit { margin-left: 10px; font-size: 18px; color: #666; line-height: 50px; display: inline-block; vertical-align: bottom; }

#subHeader .subHeaderWrap .subNavList { float: right; }

#subHeader .subHeaderWrap .subNavList ul { padding-top: 5px; }

#subHeader .subHeaderWrap .subNavList ul li { list-style: none; float: left; padding: 0 32px; line-height: 42px; }

#subHeader .subHeaderWrap .subNavList ul li a { font-size: 17px; text-decoration: none; color: #000000; }

#subHeader .subHeaderWrap .subNavList ul li a:hover { color: #00b7ec; }

#subHeader .subHeaderWrap .subNavList ul .lastLi { padding: 0 0 0 32px; }

#subHeader .subHeaderWrap .subNavList ul .active a { color: #00b7ec; }

#J_intergalFooter { clear: both; }

#J_intergalFooter ul, #J_intergalFooter li { padding: 0; margin: 0; list-style: none; }

#J_intergalFooter .intergalFooter { background: #333; font-family: "HeitiSC", microsoft yahei, Serif; overflow: hidden; position: relative; z-index: 11; border-top: 1px solid #fff; }

#J_intergalFooter .intergalFooter .footWrapper { width: 1200px; margin: 0 auto; }

#J_intergalFooter .intergalFooter .footWrapper .mainmenu { overflow: hidden; height: 235px; position: relative; }

#J_intergalFooter .mainmenu .maintit { float: left; color: #999; font-size: 12px; margin-top: 30px; width: 197px; }

#J_intergalFooter .mainmenu .maintit div { background: url("/static/css/images/footer/footerline.png") repeat-y right center; background-size: 8px 15px; padding-left: 25px; height: 149px; }

#J_intergalFooter .mainmenu .maintit div.pd0 { padding-left: 0px; }

#J_intergalFooter .mainmenu .maintit p { font-size: 16px; margin-bottom: 32px; color: #fff; }

#J_intergalFooter .mainmenu .maintit-kf { width: 180px; }

#J_intergalFooter .mainmenu .weixin { position: absolute; right: 120px; width: 100px; }

#J_intergalFooter .mainmenu .weixin p { margin-bottom: 12px; }

#J_intergalFooter .mainmenu .weixin2 { right: 0px; }

#J_intergalFooter .maintit ul li a { margin-bottom: 12px; color: #999; text-decoration: none; display: inline-block; }

#J_intergalFooter .maintit ul li span { display: block; width: 15px; height: 16px; float: left; margin-right: 13px; }

#J_intergalFooter .maintit ul li a.onlineService span { background: url("/static/css/images/footer/footerPic.png") no-repeat -1px -2px; }

#J_intergalFooter .maintit ul .servicePhone { margin-bottom: 10px; }

#J_intergalFooter .maintit ul .servicePhone span { background: url("/static/css/images/footer/footerPic.png") no-repeat -18px -2px; }

#J_intergalFooter .maintit ul li i { font-size: 18px; font-weight: bold; font-style: italic; }

#J_intergalFooter .serviceTel { color: #00b7ec; }

#J_intergalFooter .intergalFooter .footerInfo { background: #292929; color: #999; padding: 12px 0; }

#J_intergalFooter .intergalFooter .footerInfo .footerInfo-fl { max-width: 1200px; margin-left: auto; margin-right: auto; position: relative; text-align: center; }

#J_intergalFooter .intergalFooter .footerInfo .footerInfo-fl-title { position: absolute; left: 0; top: 0; }

#J_intergalFooter .intergalFooter .footerInfo li { margin-bottom: 3px; }

#J_intergalFooter .intergalFooter .footerInfo p { font-size: 12px; text-align: center; margin-top: 5px; }

#J_intergalFooter .intergalFooter .footerInfo ul { text-align: center; font-size: 12px; }

#J_intergalFooter .intergalFooter .footerInfo ul li { display: inline-block; margin-right: 10px; text-align: center; }

#J_intergalFooter .intergalFooter .footerInfo ul li a { color: #999; text-decoration: none; }

#J_intergalFooter .footerInfo ul li a:hover { color: #00a9f1; }

#J_intergalFooter .intergalFooter a:hover { color: #00a9f1; }

#J_intergalFooter .szfw-wrap { margin-top: 7px; }

.modalPublic .modal-dialog { width: 420px; margin: 0 auto; }

.modalPublic .modal-dialog .modal-content { margin-top: 190px; }

.modalPublic .modal-dialog .modal-content .modal-header { background: #f7f7f7; height: 48px; border-top: 2px solid #01b7ec; padding: 12px 0 0 15px; }

.modalPublic .modal-dialog .modal-content .modal-header .modal-title { font-size: 18px; }

.modalPublic .modal-dialog .modal-content .modal-header .close { font-size: 21px; font-weight: bold; line-height: 1; color: #000; text-shadow: 0 1px 0 #fff; font-family: inherit; margin-right: 10px; }

.modalPublic .modal-dialog .modal-content .modal-body { min-height: 230px; text-align: center; }

.modalPublic .modal-dialog .modal-content .modal-body .modalInfo { text-align: center; font-size: 18px; }

.modalPublic .modal-dialog .modal-content .modal-body .tip { padding: 10px 0 0 0px; display: inline-block; }

.modalPublic .modal-dialog .modal-content .modal-body .tip em { font-style: normal; color: #ff8233; font-size: 12px; text-align: left; line-height: 20px; display: block; }

.modalPublic .modal-dialog .modal-content .modal-body .bg_img { width: 58px; height: 58px; display: inline-block; margin: 15px 0 20px 0; }

.modalPublic .modal-dialog .modal-content .modal-body .dustbin { background: url("/static/css/images/modal/drop.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .attention { background: url("/static/css/images/modal/attention.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .personNo { background: url("/static/css/images/modal/personNo.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .personYes { background: url("/static/css/images/modal/personYes.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .yes { background: url("/static/css/images/modal/yes.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .question { background: url("/static/css/images/modal/question.png") no-repeat center; }

.modalPublic .modal-dialog .modal-content .modal-body .autoClose { text-align: center; padding-top: 20px; font-size: 14px; color: #999; }

.modalPublic .modal-dialog .modal-content .modal-body .autoClose .color-red { color: #fd6e35; }

.modalPublic .modal-dialog .modal-content .modal-body .sucClose { text-align: center; padding-top: 20px; font-size: 14px; color: #333; }

.modalPublic .modal-dialog .modal-content .modal-body .sucClose a.color-blue { color: #00b7ec; }

.modalPublic .modal-dialog .buttons { padding-top: 30px; text-align: center; padding-bottom: 8px; }

.modalPublic .modal-dialog .buttons .btn { outline: none; }

.modalPublic .modal-dialog .buttons .cancel { width: 100px; background: #c7c7c7; color: #ffffff; }

.modalPublic .modal-dialog .buttons .cancel:hover { background-color: #dad8d8; }

.modalPublic .modal-dialog .buttons .confirm { min-width: 100px; background: #1fb8ea; color: #ffffff; margin-left: 15px; }

.modalPublic .modal-dialog .buttons .confirm:hover { background-color: #4cc6ee; }

.modalPublic .modal-dialog .buttons .ml0 { margin-left: 0px; }

.pad-t20 { padding-top: 20px; }
